.update-password-container {
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   position: fixed;
   z-index: 12;
   background-color: rgba(0, 0, 0, 0.75);
   display: flex;
   justify-content: center;
   align-items: center;
}

.update-password-bg {
   width: 30%;
   height: fit-content;
   background-color: white;
   padding: 16px;
   border-radius: 16px;
   position: relative;
}

.update-password__title {
   padding-bottom: 8px;
   border-bottom: 1px solid #bebebe;
}
