.navbar-container {
   width: 100%;
   height: 72px;
   position: fixed;
   top: 0;
   left: 0;
   box-shadow: 0px 0px 8px 0px var(--color-box-shadow);
   z-index: 9;
   background-color: white;
}

.navbar_pc {
   height: 100%;
}

.navbar {
   height: 100%;
   padding: 0 8px;
   align-items: center;
}

.logo {
   width: 100%;
   height: 100%;
   padding: 4px;
   display: flex;
   align-items: center;
}

.logo img {
   --size-img: 64px;
   width: var(--size-img);
   height: var(--size-img);
   object-fit: cover;
}

.logo_name {
   color: rgba(0, 0, 0, 0.75);
   font-family: "Pacifico", cursive;
   margin: 0 4px;
}

.listpage_container {
   height: 100%;
}

.listpage {
   height: 100%;
   display: flex;
   justify-content: right;
   align-items: center;
}

.page_name a {
   height: 28px;
   font-size: 20px;
   font-weight: 500;
   margin: 0 16px;
   color: black;
   text-decoration: none;
}

.page_name a:hover {
   color: var(--color-template);
   border-bottom: 2px solid var(--color-template);
   transition: color ease 0.1s;
}

.page_name .active-page {
   color: var(--color-template);
   border-bottom: 2px solid var(--color-template);
}

.amount-sp {
   --size-amount: 16px;
   width: var(--size-amount);
   height: var(--size-amount);
   position: absolute;
   top: -8px;
   right: 0;

   border-radius: 100%;
   background-color: red;
}

.login_shopping {
   display: flex;
   justify-content: right;
}

.login_shopping i {
   font-size: 28px;
   color: var(--color-icon);
   margin: 0 8px;
   transition: all ease 0.2s;
}
.login_shopping i:hover {
   color: var(--color-icon-hover);
}

.shopping_icon {
   position: relative;
}

.auth-customer {
   width: auto;
   height: auto;
   position: relative;
}

.auth-customer-selection {
   width: 200px;
   padding: 8px;
   position: absolute;
   top: var(--color-icon-hover);
   right: 0;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0px 0px 8px 0px var(--color-box-shadow);
   display: none;
}

.auth-customer:hover .auth-customer-selection {
   display: block;
}

.auth-customer-selection_item {
   display: flex;
   align-items: center;
   margin: 16px 0px;
   cursor: pointer;
   text-decoration: none;
   color: black;
}

.auth-customer-selection_item i {
   width: 32px;
}
.auth-customer-selection_item:hover p {
   color: var(--color-template);
}

.auth-customer-selection_item:hover i {
   color: var(--color-icon-hover);
}
/* mobile-tablet */

.nav-mobile {
   width: 100%;
   height: fit-content;
   padding: 8px 0px;
   position: fixed;
   bottom: 0;
   left: 0;
   display: none;
   justify-content: space-around;
   align-items: center;
   z-index: 9;
   background-color: white;
   box-shadow: 0px 0px 8px 0px var(--color-box-shadow);
}

.page_name_mobile {
   width: 100%;
   text-align: center;
   color: #666666;
   text-decoration: none;
   display: flex;
   flex-flow: column nowrap;
}

.page_name_mobile i {
   font-size: 28px;
}

.page_name_mobile:hover {
   color: var(--color-template);
}

.active_page_mobile {
   color: var(--color-template);
}

/* responsive */

@media screen and (max-width: 1023px) {
   .nav-mobile {
      display: flex;
   }
}

/* Mobile */
@media screen and (max-width: 739px) {
   .navbar-container {
      height: 64px;
   }

   .logo img {
      --size-img: 56px;
      width: var(--size-img);
      height: var(--size-img);
   }

   .logo_name {
      font-size: 1.6em;
      align-self: center;
   }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
}
