.shopping-cart {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.shopping-cart__container {
   width: 78%;
   height: 85%;
   background-color: white;
   border-radius: 16px;
   box-shadow: 0px 0px 16px 0px var(--color-box-shadow);
   display: flex;
}

.shopping-cart__right,
.shopping-cart__left {
   width: 65%;
   height: 100%;
   padding: 16px 32px;
   display: flex;
   flex-flow: column nowrap;
}

.shopping-cart__right {
   width: 35%;
   background-color: #f1f1f1;
   border-radius: 0px 16px 16px 0px;
}

.shopping-cart__left-title,
.shopping-cart__right-title {
   height: 12%;
   max-height: 72px;
   border-bottom: 1px solid #bebebe;
   font-size: 1.2em;
   font-weight: bolder;
   padding-bottom: 16px;
   display: flex;
   align-items: flex-end;
}

.shopping-cart__left-title {
   align-items: flex-start;
}

.title-item {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-grow: 1;
}

.title-item-mobile {
   display: none;
}

.shopping-cart__left-title h3 {
   font-size: 1.8em;
}

.shopping-cart__left-title p {
   color: #bebebe;
   font-size: 0.8em;
   font-weight: normal;
}

.list-product-incart {
   width: 100%;
   height: 75%;
   overflow: auto;
   flex-grow: 1;
}

.list-product-incart-item {
   width: 100%;
}

.btn-check-out {
   width: 100%;
   padding: 8px 0px;
   margin: 8px 0px;
   background-color: var(--color-template);
   color: white;
   font-size: 1.2em;
   font-weight: bold;
   border-radius: 8px;
}

.btn-back-pc {
   width: fit-content;
   height: 10%;
   max-height: 64px;
   color: black;
   font-size: 1.1em;
   font-weight: 500;
   display: flex;
   align-items: center;
}

.btn-back-pc i {
   transform: rotate(180deg);
   margin: 0px 8px;
}

.btn-back-pc:hover {
   color: var(--color-template);
}

.btn-check-out:active {
   opacity: 0.75;
}
@media (min-width: 1024px) and (max-width: 1239px) {
   .shopping-cart__container {
      width: 90%;
   }
}

@media screen and (max-width: 1023px) {
   .shopping-cart__right,
   .shopping-cart__left {
      width: 100%;
      height: 100%;
   }

   .list-product-incart {
      height: 400px;
      overflow-x: auto;
      flex-grow: 1;
   }

   .btn-back-pc {
      display: none;
   }
   .title-item-pc {
      display: none;
   }

   .title-item-mobile {
      display: flex;
      align-items: center;
   }

   .title-item-mobile i {
      margin-right: 16px;
      cursor: pointer;
   }

   .title-item-mobile i:hover {
      color: var(--color-template);
   }
}

/* Mobile */
@media screen and (max-width: 739px) {
   .shopping-cart {
      display: block;
   }
   .shopping-cart__container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 0px;
      overflow-x: auto;
   }

   .shopping-cart__left,
   .shopping-cart__right {
      padding: 8px;
      border-radius: 0px;
   }

   .shopping-cart__left-title h3 {
      font-size: 1.2em;
   }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
   .shopping-cart__container {
      width: 78%;
      height: auto;
      display: flex;
      flex-direction: column;
   }

   .shopping-cart__right {
      border-radius: 0px 0px 16px 16px;
   }
}
