.reset-pass-container {
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.75);
}

.reset-pass-bg {
   width: 100%;
   max-width: 300px;
   height: fit-content;
   border-radius: 16px;
   padding: 16px;
   background-color: white;
}

.reset-pass-bg .input {
   width: 100%;
   padding: 8px;
   border: 1px solid var(--color-template);
   border-radius: 8px;
   margin: 8px 0px;
}

.submit-reset {
   width: 100%;
   text-align: center;
}

.btn-reset-pass {
   padding: 8px 16px;
   background-color: var(--color-template);
   color: white;
   font-weight: 500;
   border-radius: 8px;
   margin-top: 8px;
   margin-bottom: 16px;
   text-align: center;
}

.btn-reset-pass:active {
   opacity: 0.75;
}

.reset-pass-bg .btn-turn-back {
   margin-top: 16px;
}
